.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background: hsl(257, 40%, 49%);
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px; 
    margin: auto; 
}

.header-logo {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 70px 0;
}

.main-container {
    width: 90%;
    margin: auto;  
}

.flex-container {
    display: flex;
    width: 100%;
    margin: auto;
}

.left-box {
    width: 60%;
    margin: auto;
    margin-right: 50px;
}

.left-box img {
    width: 100%;
    height: auto;
}

.right-box {
    display: flex;
    flex-flow: column wrap;
    margin: 50px auto;
    width: 40%;
}

.right-box h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: aliceblue;
    font-size: 2em;
    width: 80%;
    margin-bottom: 30px;
}

.right-box p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: aliceblue;
    font-size: 1em;
    width: 90%;
    margin-bottom: 30px;
    line-height: 26px;
}

.right-box button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: aliceblue;
    color: hsl(276, 40%, 49%);
    font-size: 1em;
    width: 35%;
    border-radius: 30px;;
    padding: 12px 0;
    box-shadow: 2px 3px 7px 1px hsla(258, 41%, 24%, 0.493);
}

.right-box button:hover {
    background: hsl(300, 69%, 71%);
    color:aliceblue;
    cursor: pointer;
}

.bottom-logos {
    display: flex;
    color: aliceblue;
    font-size: 1.2em;
    text-align: center;
    justify-content: flex-end;
    width: 90%;
}

.bottom-logos i {
    padding: 8px;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.bottom-logos i:hover {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.footer {
    flex-shrink: 0;
}

/* mobile */

@media(max-width: 768px) {
    body {
        background-image: url("../images/bg-mobile.svg");
        background-size: 100%;
        background-attachment:fixed;
    }

    .header-logo {
        width: 80%;
        margin: 0 auto;
        padding: 30px 0 50px 0;
    }

    .header-logo img {
        width: 50%;
    }

    .main-container {
        width: 80%;
    }
  
    .flex-container {
        width: 100%;
		flex-direction: column;
	}

    .left-box {
        width: 100%;
        margin: auto;
    }

    .right-box {
        width: 100%;
        margin: 70px 0;
    }

    .right-box h1 {
        width: 100%;
        text-align: center;
        justify-content: space-between;
        font-size: 1.6em;
        font-weight: 500;
        line-height: 1.5em;
    }

    .right-box p {
        width: 100%;
        text-align: center;
        justify-content: space-between;
        font-size: 1.1em;
        line-height: 1.5em;
        font-weight: 300;
    }

    .right-box button {
        margin: 0 auto;
        width: 80%;
    } 
    
    .bottom-logos {
        width: 100%;
        margin: 10px auto 50px;
        justify-content: center;
    }

    .bottom-logos i {
        margin: 0 8px 0 8px;
        font-size: 1em;
        border-width: 1px;
        justify-items: center;
    }    
}