* {
    margin: 0;
    text-decoration: none;
    padding: 0;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    width: 1440px;
    background: hsl(257, 40%, 49%);
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
}

.header-logo {
    padding: 50px 0 70px 50px;
}

.flex-container {
    display: flex;
}






footer {
    margin-top: 350px;
}

